@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree-Regular';
  src: url('../otffonts/figtree-regular.otf') format('opentype');
  font-weight: 300;
  font-display: normal;
  font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-custom;
}

* {
  font-family: 'Figtree-Regular';
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

@keyframes oscillateX {
  0%,
  100% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

@keyframes zigzag {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translate(-10px, 10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translateX(-10px, 10px);
  }
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
}

@keyframes oscillate-mouse {
  0%,
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
}

@keyframes mouse {
  0%,
  100% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}

.animate-zigzag {
  animation: zigzag 4s ease-in-out infinite;
}

.animate-oscillate-x {
  animation: oscillateX 1s ease-in-out infinite;
}

.animate-rotate {
  animation: rotate 2s ease-in-out infinite;
}

.animate-oscillate {
  animation: oscillate 2s ease-in-out infinite;
}

.animate-oscillate-keyboard {
  animation: oscillate 4s ease-in-out infinite;
}

.animate-oscillate-mouse {
  animation: oscillate-mouse 4s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

.animate-rotate {
  animation: rotate 2s ease-in-out infinite;
}
