@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figtree-Regular";
  src: url("../otffonts/figtree-regular.otf") format("opentype");
  font-weight: 300;
  font-display: normal;
  font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-custom;
}

* {
  font-family: "Figtree-Regular";
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body * {
  /* border: 1px solid red; */
  /* background: #fafafa; */
}

/* img {
  width: 300px;
} */
