@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree-Regular';
  src: url('../otffonts/figtree-regular.otf') format('opentype');
  font-weight: 300;
  font-display: normal;
  font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-custom;
}

* {
  font-family: 'Figtree-Regular';
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

/* Tailwind utility for animation duration */
.animate-rotate {
  animation: rotate 2s ease-in-out infinite;
}

/* Tailwind utility for animation duration */
.animate-oscillate {
  animation: oscillate 2s ease-in-out infinite;
}

/* body * {
  border: 1px solid green;
} */
